// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
@import url('//db.onlinewebfonts.com/c/30b687bc276e6b249902acc9ad3a0e63?family=Metal-Variable');

@font-face {
    font-family: "Metal-Variable";
    src: url("//db.onlinewebfonts.com/t/30b687bc276e6b249902acc9ad3a0e63.eot");
    src: url("//db.onlinewebfonts.com/t/30b687bc276e6b249902acc9ad3a0e63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/30b687bc276e6b249902acc9ad3a0e63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/30b687bc276e6b249902acc9ad3a0e63.woff") format("woff"), url("//db.onlinewebfonts.com/t/30b687bc276e6b249902acc9ad3a0e63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/30b687bc276e6b249902acc9ad3a0e63.svg#Metal-Variable") format("svg");
}

$montserrat: 'Montserrat', sans-serif;
$metal: 'Metal', cursive;
$metalvariable: "Metal-Variable";

// Colors

$deep-dark: #000;
$light-blue: #04c7ff;
$light-purple: #ae00ff;
$light-white: #fff;
$middle-gray: #909090;

$gradient-color-1: #ae00ff;
$gradient-color-2: #04c7ff;

$glow-color: rgba(4, 199, 255,.4);

body {
    font-family: $montserrat;
    margin: 0;
    background-color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Heading
.slide-title {
    h1 {
        margin: 0;
        margin-bottom: 50px;
        font-size: 100px;
        color: $light-blue;
        line-height: 100%;
        font-weight: 700;
        text-transform: uppercase;
        span {
            display: block;
            font-size: 90px;
            font-weight: 300;
        }
    }
}

.slide-subtitle {
    color: $light-purple;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.slide-description {
    margin-bottom: 70px;
    p {
        margin-bottom: 40px;
        color: $light-white;
        font-size: 18px;
        line-height: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        strong {
            color: $light-blue;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.slide-shortdescription {
    font-size: 20px;
    color: $light-white;
    font-weight: 300;
}

// Buttons
.fill-btn {
    position: relative;
    font-family: $metalvariable;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 50px;
    width: fit-content;
    color: $deep-dark;
    font-size: 24px;
    background: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
    background-size: 200%;
    animation: animationgradientlogo 5s ease-in-out infinite;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    span {
        height: 20px;
        color: $light-white;
        line-height: 10px;
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px;
        border: 5px solid $deep-dark;
        border-radius: 50px;
    }
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        padding: 7px;
        background: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
        background-size: 200%;
        border-radius: 50px;
        z-index: -1;
    }
}

.border-btn {
    position: relative;
    font-family: $metalvariable;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 50px;
    width: fit-content;
    color: $deep-dark;
    font-size: 24px;
    background: $deep-dark;
    background-size: 200%;
    animation: animationgradientlogo 5s ease-in-out infinite;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    span {
        height: 20px;
        background-image: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
        background-size: 200%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: animationgradientlogo 5s ease-in-out infinite;
        line-height: 10px;
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px;
        border: 5px solid $deep-dark;
        border-radius: 50px;
    }
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        padding: 7px;
        background: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
        background-size: 200%;
        border-radius: 50px;
        z-index: -1;
    }
}

// Style
.header {
    position: relative;
    padding-bottom: 100px;
    z-index: 10;
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__logo {
            font-family: $metalvariable;
            display: flex;
            align-items: center;
            margin-right: 45px;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                span {
                    height: 45px;
                    font-size: 34px;
                    line-height: 30px;
                    text-transform: uppercase;
                    background-image: linear-gradient(120deg, $gradient-color-1, $gradient-color-2, $gradient-color-1);
                    background-size: 200%;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    animation: animationgradientlogo 5s ease-in-out infinite;
                }
                i.icon {
                    position: relative;
                    display: block;
                    width: 45px;
                    height: 45px;
                    margin-right: 10px;
                    border-radius: 50px;
                    background-image: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
                    background-size: 200%;
                    -webkit-text-fill-color: transparent;
                    animation: animationgradientlogo 5s ease-in-out infinite;
                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        content: "";
                        display: block;
                        width: 35px;
                        height: 35px;
                        background-image: url(../img/letter-t.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 20px;
                        border: 1px solid $light-white;
                        border-radius: 50px;
                    }
                }
            }
        }
        &__nav {
            ul {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: $middle-gray;
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: $light-purple;
                        }
                    }
                }
            }
        }
        &__lang {
            ul {
                li {
                    a {
                        position: relative;
                        display: block;
                        width: 45px;
                        height: 45px;
                        border-radius: 50px;
                        border: 1px solid $middle-gray;
                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            content: "";
                            display: block;
                            width: 55px;
                            height: 55px;
                            border-radius: 50px;
                            border: 1px solid $middle-gray;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-position: center;
                            object-fit: cover;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
        &__btns {
            margin-left: 45px;
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        padding: 10px 20px;
                        font-size: 20px;
                        &.fill-btn {
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
    }
}

.hor-slide {
    position: relative;
    padding: 30px 0 60px 0;
    height: calc(100vh - 90px);
    background-color: $deep-dark;
    background-image: url(../img/main-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: "";
        display: block;
        width: 100%;
        height: 100vh;
        background-image: url(../img/main-triangle-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        animation: background-zoom 3s linear infinite alternate;
    }
    .container {
        height: 100%;
    }
    .slide-title {
        position: relative;
        &__shadow {
            position: absolute;
            top: 0;
            font-size: 100px;
            font-weight: 700;
            color: $light-blue;
            line-height: 100%;
            text-transform: uppercase;
            &-glow {
                color: #ffd9e2;
                text-shadow: 0 0 0 transparent, 0 0 10px $glow-color, 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px $glow-color, 0 0 80px $glow-color, 0 0 100px $glow-color, 0 0 150px $glow-color, 0 0 300px $glow-color, 0 0 600px $glow-color;
                backface-visibility: hidden;
            }
            &-blink {
                display: block;
                font-size: 90px;
                font-weight: 300;
            }
        }
    }
    .slide-subtitle {
        margin-bottom: 40px;
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100% - 150px);
        z-index: 5;
    }
    .buttons-group {
        margin-top: 120px;
        ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .planet-animation {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%,-50%) scale(1.1);
        max-width: 900px;
        width: 100%;
        height: 100%;
        z-index: 4;
        &__polygon {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 105%;
            animation: polygonrotation 30s infinite linear;
            z-index: 1;
        }
        &__earth {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 85%;
            z-index: 3;
        }
        &__lines {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            animation: linesrotation 50s infinite linear;
        }
        &__light {
            position: absolute;
            top: 50%;
            left: -30%;
            transform: translateY(-50%);
            width: 850px;
            height: 750px;
            z-index: 5;
            animation: lightblick 5s infinite linear;
        }
    }
    &__bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 5;
        &-social {
            margin-right: 30px;
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        transition: all .3s ease-out;
                        img {
                            filter: grayscale(1);
                            transform: scale(0.6);
                            transition: all .3s ease-out;
                        }
                        &:hover {
                            img {
                                filter: grayscale(0);
                                transform: scale(1);
                                transition: all .3s ease-out;
                            }
                        }
                    }
                }
            }
        }
        &-arrow {
            display: flex;
            align-items: center;
            width: 100%;
            span {
                &:nth-of-type(1) {
                    display: block;
                    max-width: 400px;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
                    background-size: 200%;
                    animation: animationgradientlogo 5s ease-in-out infinite;
                }
                &:nth-of-type(2) {
                    width: 100px;
                    height: 13px;
                    margin-left: 15px;
                    background-image: url(../img/long-arrow.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    animation: animationmarginleft 2s linear infinite;
                }
            }
        }
    }
    &__second {
        background-image: url(../img/second-slide-bg.jpg);
        animation: backgroundsize 20s infinite ease-in-out;
        &::after {
            display: none;
        }
        .slide-subtitle {
            margin-bottom: 65px;
            font-size: 24px;
        }
        &-image {
            position: relative;
            padding-right: 100px;
            img {
                width: 100%;
                height: 100%;
                &:nth-of-type(1) {
                    animation: phonetransform 2s infinite ease-in-out;
                }
                &:nth-of-type(2) {
                    position: absolute;
                    top: 50%;
                    left: 45%;
                    transform: translate(-50%,-50%);
                    z-index: -1;
                    animation: dotsrotation 40s infinite linear;
                }
            }
        }
        .particle-dust {
            opacity: 0.3;
        }
        #particles-triangle {
            top: auto;
            bottom: 0;
            transform: none;
            height: 40%;
            opacity: 0.5;
            // &::before {
            //     position: absolute;
            //     content: "";
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     background: rgb(0,0,0);
            //     background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.19793855042016806) 100%);
            // }
        }
    }
}

// Particle dust
.particle-dust {
    &__scene {
        li {
            &#specks {
                position: absolute;
                z-index: 999;
                height: 100vh;
                width: 100vw;
            }
            .img {
                position: absolute;
                height: 100000px;
                width: 100000px;
                top: -8500px;
                left: -8000px;
                animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
                animation-name: float;
                animation-iteration-count: infinite;
                &#img-1 {
                    opacity: 0.50;
                    background: url('https://image.ibb.co/jcTvpv/dust1.jpg');
                    background-repeat: repeat;
                    animation-duration: 600s;
                    mix-blend-mode: screen;
                }
                &#img-2 {
                    opacity: 0.40;
                    background: url('https://image.ibb.co/goU1Uv/dust2.jpg');
                    background-repeat: repeat;
                    animation-duration: 450s;
                    mix-blend-mode: screen;
                }
                &#img-3 {
                    opacity: 0.35;
                    background: url('https://image.ibb.co/cymRwa/dust3.jpg');
                    background-repeat: repeat;
                    animation-duration: 350s;
                    mix-blend-mode: screen;
                }
            }
        }
    }
}

#particles-triangle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    // &::before {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 40%;
    //     background: rgb(0,0,0);
    //     background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0.1) 50%);
    // }
    // &::after {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 40%;
    //     background: rgb(0,0,0);
    //     background: linear-gradient(183deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 50%);
    // }
}

// Animations
@keyframes animationgradientlogo {

    0%,
    100% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@keyframes animationmarginleft{
	0% { margin-left: 10px; }
    50% { margin-left: 20px; }
	100% { margin-left: 10px; }
}
  
@keyframes twinkle {
    0% {
        transform: translate(0px, 0px);
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translate(175px, 100px);
    }
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(8000px, 4000px);
    }
}

@keyframes polygonrotation {
    0% {
        transform: translate(-50%,-50%) rotate(0);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes linesrotation {
    0% {
        transform: translate(-50%,-50%) rotate(0) scale(1);
    }
    50% {
        transform: translate(-50%,-50%) rotate(-180deg) scale(0.8);
    }
    100% {
        transform: translate(-50%,-50%) rotate(-360deg) scale(1);
    }
}

@keyframes lightblick {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dotsrotation {
    0% {
        transform: translate(-50%,-50%) rotate(0);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes phonetransform {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes backgroundsize {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}