// Colors
$deep-dark: #000;
$light-blue: #04c7ff;
$light-purple: #ae00ff;
$light-white: #fff;
$middle-gray: #909090;

$gradient-color-1: #ae00ff;
$gradient-color-2: #04c7ff;

$glow-color: rgba(4, 199, 255, 0.4);

// fonts
$montserrat: 'Montserrat', sans-serif;
$metal: 'Metal', cursive;
$metalvariable: "Metal-Variable";